html
  head
    link(rel="stylesheet",type="text/css",href="/less?page=main")
  body
    form(action="/submit",method="POST")
      button(name="submit") submit
      button.cancel(type="button",name="cancel",onclick="setTimeout(function () { window.location.reload(); }, 10)") cancel
      br
      textarea(name="text",cols="80",rows="16") #{content}
      br
      button(name="submit") submit
      button.cancel(type="button",name="cancel",onclick="setTimeout(function () { window.location.reload(); }, 10)") cancel
      input(type="hidden",name="callback",value="/jade?page=editor")
