html
  head
    link(rel="stylesheet",type="text/css",href="/less?page=main")
    link(rel="stylesheet",type="text/css",href="/css/jquery-ui.min.css")
    link(rel="stylesheet",type="text/css",href="/css/keyboard-dark.min.css")
    script(src="/js/jquery-2.2.3.min.js",type="text/javascript",charset="utf-8")
    script(src="/js/aceeditor/ace.js",type="text/javascript",charset="utf-8")
    script(src="/js/aceeditor/theme-monokai.js",type="text/javascript",charset="utf-8")
    script(src="/js/aceeditor/mode-sh.js",type="text/javascript",charset="utf-8")
    script(src="/js/jquery.keyboard.min.js",type="text/javascript",charset="utf-8")
    script(src="/js/jquery.mousewheel.min.js",type="text/javascript",charset="utf-8")
    script(src="/js/jquery.keyboard.extension-all.min.js",type="text/javascript",charset="utf-8")
  body
    form#form(action="/submit",method="POST")
      button#submit(name="submit") submit
      button.cancel(type="button") cancel
      br
      textarea#text.keyboard(name="text")
      div#editor #{content}
      br
      button(name="submit") submit
      button.cancel(type="button") cancel
      input(type="hidden",name="callback",value="/jade?page=jseditor")
      button#keyboard(type="button") keyboard
    script.
      editor=ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      var JavaScriptMode = ace.require("ace/mode/sh").Mode;
      var ta = $("#text").hide();
      editor.session.setMode(new JavaScriptMode());
      editor.getSession().on('change', function(){ta.val(editor.getSession().getValue());});
      $(".cancel").on('click',function(){location.reload()});
    script(src="/js/loadkey.js",type="text/javascript",charset="utf-8")
